{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Brandfetch plugin for Craft CMS 3.x
 *
 * Brandfetch Settings.twig
 *
 * @author    Milkshake Studio
 * @copyright Copyright (c) 2020 Milkshake Studio
 * @link      https://milkshake.studio
 * @package   Brandfetch
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("milkshakestudio\\brandfetch\\assetbundles\\brandfetch\\BrandfetchAsset") %}


<div class="field">
    <div class="heading">
        <label>{{ 'Volume'|t }}</label>
        <div class="instructions"><p>{{ 'Select the volume where your images should be save'|t }}</p>
        </div>
    </div>
    <div class="input ltr">
        <div class="flex">
            <div>
                <div class="select">
                    <select id="destination" name="destination" required="required">
                        {% for volume in volumes %}
                            <option value="{{ volume.value }}"
                                    {% if settings['destination'] == volume.value %}selected{% endif %}>{{ volume.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="flex-grow">
                <input class="text ltr fullwidth" type="text" id="folder" name="folder" value="{{ settings['folder'] }}"
                       autocomplete="off" placeholder="path/to/subfolder">
            </div>
        </div>
    </div>

    {{forms.textField({
        label: 'Brandfetch API Key',
        instructions: 'Enter your Brandfetch API Key.',
        id: 'brandfetch_api_key',
        name: 'brandfetch_api_key',
        placeholder:'xxxxxxxxxx',
        required:true,
        value: settings['brandfetch_api_key']
    }) }} 
</div>